$slideshow-slide-size: 325px;


div.openhistoricalmap-inspector-panel {
    padding: 1em;

    .openhistoricalmap-inspector-panel-paragraph {
        strong {
        }
        span {
        }
        a {
        }
    }

    .openhistoricalmap-inspector-panel-slideshow {
        position: relative;

        width: $slideshow-slide-size;
        min-height: $slideshow-slide-size;
        overflow: hidden;

        margin-bottom: 1em;

        a.openhistoricalmap-inspector-panel-slideshow-prevnext {
            position: absolute;
            top: 130px;

            img {
                height: 40px;
            }

            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;

            &.openhistoricalmap-inspector-panel-slideshow-prev {
                left: 5px;

                img {
                    margin-right: 5px;
                }
            }
            &.openhistoricalmap-inspector-panel-slideshow-next {
                right: 5px;

                img {
                    margin-left: 5px;
                }
            }
            &.openhistoricalmap-inspector-panel-slideshow-hidden {
                display: none;
            }
        }

        div.openhistoricalmap-inspector-panel-slideshow-slide {
            height: 100%;

            display: none;
            &.openhistoricalmap-inspector-panel-slideshow-selected {
                display: block;
            }

            img {
                width: $slideshow-slide-size;
                height: $slideshow-slide-size;
                object-fit: cover;

                cursor: pointer;
            }

            span.openhistoricalmap-inspector-panel-slideshow-caption {
                display: block;
                text-align: center;

                font-size: 80%;
            }

            span.openhistoricalmap-inspector-panel-slideshow-credits {
                display: block;
                text-align: center;

                font-size: 80%;
                font-style: italic;
            }
        }
    }
}

div.openhistoricalmap-inspector-footer {
    margin-top: 1em;
    padding: 1em;
}

div.openhistoricalmap-inspector-slideshowmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #CCCCCC;

    z-index: 1000000;

    display: none;
    &.openhistoricalmap-inspector-slideshowmodal-open {
        display: block;
    }

    .openhistoricalmap-inspector-slideshowmodal-content {
        padding: 10px;
        background-color: white;

        max-width: 96%;
        max-height: 96%;
        overflow: hidden;

        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%);
    }

    .openhistoricalmap-inspector-slideshowmodal-closebutton {
        cursor: pointer;

        font-size: 30px;
        font-weight: bold;

        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 25px;

        background-color: white;
        border-radius: 50%;
    }

    img.openhistoricalmap-inspector-slideshowmodal-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    div.openhistoricalmap-inspector-slideshowmodal-caption {
        text-align: center;

        font-size: 80%;
    }

    div.openhistoricalmap-inspector-slideshowmodal-credits {
        text-align: center;

        font-size: 80%;
        font-style: italic;
    }
}
